.rengecenter {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.v-center {
    width:1024px;
}
.miaopasi {
  margin-top: 10px;
}
body{
	background:url("/nicolasjackson/images/bg.jpg")
}
.outer {
	height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, #f6f6f6));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, #f6f6f6 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #37474F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f6f6f6',GradientType=0 );



	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, #f6f6f6 100%);
}